body{
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.App {
   text-align: center;
}

.App-header {
   height: 4.25em;
   padding: 2.25em;
}

.App-title {
   font-size: 2em;
}

.question-answer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 10px;
}

.question {
   margin: 5px;
}

.equation {
   font-size: 40px;
}

.equation span{
   margin: 3px;
}

.equation .operation{
   vertical-align: sub;
}

.question Button {
   font-size: 20px;
   height: 90px;
   width: 90px;
   padding: 5px;
   margin: 5px;
}

.answer {
   margin: 100px 5px 5px 100px;
}

.user-answer {
   display: flex;
   flex-flow: column;
   justify-content: center;
   height: 200px;
   width: 200px;
   font-size: 40px;
   border: thin solid black;
}


